/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.dp-logo {
	font-size: 1.25em;
}

.named-tag {
	color: $gray-900 !important;
	background: $yellow;
}