/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.dp-logo {
	font-size: 1.25em;
}

.named-tag {
	color: $gray-900 !important;
	background: $yellow;
}

.bg-img-hero-contain {
  background-size: auto 480px;
  background-repeat: no-repeat;
  background-position: top center;
}




.user-story-map {
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}